.main{
    width: 70%;
    margin: 0 auto;
}
body{
    background-color: #171717;
    color:#ffffff;
}
.topnav{
    display:grid;
    grid-template-columns: 65% 1fr;
    /* width: 100%; */
    /* row-gap: 2px; */
    padding-bottom: 100px;
    
}
.name{
    /* margin: 0; */
    justify-content: space-between;
    /* width: 95%; */
    /* display: inline-block; */
    /* min-width: 50%;
    max-width: 90%; */
}
.name h3{
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
}
.links{
    text-align: left;
    margin-block-start: 19.2px;
    margin-block-end: 19.2px;

}
.links a{
    padding-right: 10%;
    color: #ffffff;
    text-decoration: none;
    /* max-width: 245.703px;
    min-width: 100px; */
}
.info{
    display: grid;
    grid-template-rows:repeat(6,1fr);
    position: relative;
    height: 100%;
}
.hero-content{
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
    display: relative;
}
.sec3{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.services{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    /* justify-content: space-between; */
}
.secC2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* justify-items: left;
    align-items: left; */
    grid-gap: 10px;
    /* border: 1px solid #ccc; */
    /* padding: 20px; */
    text-align: left;
    /* margin: 0 auto; */
}

.secc3 {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
  }

.secA1{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}
.secA1 h1{
    font-size: 300%;
    margin-bottom: 0;
    padding-top: 5%;
}
.secA1 h4{
    color: #828282;
}
.image{
    border-radius: 50%;
    border-width: 40px;
    width: 70%;
    object-position: right;
    /* position: relative; */
    /* top: 50%; */
    left: 50%;
    /* transform: translate(-50%, -50%); */
}
.About{
    text-align: center;
    margin-bottom: 0;
    width: 90%;
}
.About h1{
    font-size: large;
}
.About h2{
    font-size: xxx-large;
}
.secB{
    text-decoration: none;
    color: #ffffff;
    align-items: center;
    margin: 0 auto;
    /* height: 50%; */
    vertical-align: bottom;
}
.secB a{
    color: white;
    text-decoration: none;
}
.secC h3{
    text-align: center;
    font-size: xxx-large;
}

.skills{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    column-gap: 7%;
    background-color: #212121;
}
.skill-item h2{
    font-size: xxx-large;
    color: #474747;
    margin: 0;
    font-family: arial;

}
.skill-item h4{
    margin-top: 0;
    color: #27ae60;
    font-family: arial;
}
.fill{
    text-align: center;
}
.fill h3{
    font-size: xxx-large;
}
.data{
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid grey;
    color: white;
    margin-bottom: 3px;
    padding-right: 100px;
}
.data::placeholder{
    color: #4f4f4f;
}
textarea{
    width: 50%;
    height: 60px;
    margin-top: 10px;
    background-color: transparent;
}
.download{
    background-color: #27ae60;
    color: white;
    padding: 15px;
    width: 35%;
    border: 1px;
}
.learn{
    background-color:transparent;
    color: white;
    padding: 15px;
    width: 35%;
    box-sizing:border-box;
    border-color:#ffffff;
    border-width: 1px;

}
.submit{
    background-color: #27ae60;
    color: white;
    width: 13%;
    padding: 10px;
    border: 1px;
    margin-top: 16px;
}
.copy{
    color:#474747;
    margin-top: 10%;
    text-align: center;
}
